/* RSVPForm.css */
.rsvp-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  min-height: 100vh;
  background: linear-gradient(135deg, #a6c0fe, #f68084);
}

.rsvp-radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.rsvp-card {
  width: 100%;
  max-width: 800px;
  border-radius: 20px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.1);
  padding: 40px;
  background-color: #fff;
  border: none;
}

.rsvp-card .ant-card-head {
  background-color: #f4f6f9;
  border-bottom: 1px solid #e6e6e6;
  border-radius: 20px 20px 0 0;
  font-family: "silk";
}

.rsvp-card .ant-card-head-title {
  font-size: 28px;

  font-weight: 700;
  color: #2c3e50;
}

.rsvp-card p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #7f8c8d;
}

.ant-divider {
  font-weight: 600;
  color: #2c3e50;
}

.ant-form-item-label > label {
  font-weight: 500;
  color: #34495e;
}

.ant-radio-wrapper {
  font-size: 16px;
  color: #34495e;
}

.ant-input,
.ant-input-number,
.ant-input-textarea {
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #dcdcdc;
  transition: all 0.3s ease-in-out;
}

.ant-input:focus,
.ant-input-number:focus,
.ant-input-textarea:focus {
  border-color: #3498db;
  box-shadow: 0 0 8px rgba(52, 152, 219, 0.3);
}

.ant-btn-primary {
  background: linear-gradient(135deg, #3498db, #2ecc71);
  border: none;
  border-radius: 8px;
  font-size: 18px;
  padding: 12px 28px;
  font-weight: 600;
  transition: background 0.3s ease, transform 0.3s ease;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background: linear-gradient(135deg, #2ecc71, #3498db);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .rsvp-card {
    /* padding: 25px; */
    padding: 20px;
  }

  .rsvp-card p {
    width: 100%;
  }

  .rsvp-card .ant-card-head-title {
    font-size: 22px;
  }

  .rsvp-container {
    padding: 40px 16px;
  }
}

.rsvp-event {
  margin-bottom: 30px;
}

.event-title {
  color: #2980b9;
  font-size: 22px;
}

.extra-title {
  color: #2c3e50;
  font-size: 20px;
  margin-top: 30px;
}
