/* src/App.css */
.site-layout-content {
  padding: 24px;
}

@font-face {
  font-family: "silk";
  src: url("./assets/silk.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "hel";
  src: url("./assets/hel.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.ant-layout-header {
  display: flex;
  align-items: center;
}

.bultiya {
  display: none;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .samiya {
    display: none;
  }

  .bultiya{
    display: flex;
  }
  .ant-layout-content {
    padding: 0 16px;
  }
  .ant-card .ant-card-body {
    padding: 0;
  }

  .site-layout-content {
    /* padding: 16px; */
  }
}
