/* src/App.css */
.site-layout-content {
  /* padding: 24px; */
}

@font-face {
  font-family: "silk";
  src: url("./assets/silk.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "silk";
  src: url("./assets/minek.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "sm";
  src: url("./assets/SM.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hel";
  src: url("./assets/hel.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "hel";
  src: url("./assets/hel2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.logo {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.ant-layout-header {
  display: flex;
  align-items: center;
}

.bultiya {
  display: none;
}

.pl {
  padding: 30px;
}

.footer {
  background-color: #000;
  color: #fff;
  padding: 15px;
  font-family: "hel";
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
}

.rsvpt {
  /* display: none; */
  font-size: 18px;
  /* width: 80%; */
  font-family: "hel";
  text-align: center !important;
  margin: 0 auto;
}

.lka {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nal {
  display: none;
}
.gal {
  display: flex;
}

.nanas {
  margin-bottom: 5px;
}
.event-time,
.event-date {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hals{
  font-family: "hel";
  font-size: 15px;
}

.event-name {
  font-family: "silk";
  font-weight: 300;
  margin-bottom: 10px;
}

.event-dresscode{
  margin: 10px 0;
}

@media screen and (max-width: 964px) {
  .gal {
    display: none;
  }

  .nal {
    display: flex;
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .samiya {
    display: none;
  }
  .pl {
    padding: 10px;
  }
  .bultiya {
    display: flex;
  }
  .ant-layout-content {
    padding: 0 10px;
  }
  .ant-card .ant-card-body {
    padding: 10px;
  }

  .site-layout-content {
    /* padding: 16px; */
  }
}
