.nav_side {
  position: fixed;
  /* position: absolute; */
  top: 0;
  z-index: 10;
  transition: all 0.6s ease-in-out;
  width: 100%;
}

.nav_side.hidden {
  transform: translateY(-100%);
}

.nav_side.scrolled {
  background-color: rgba(47, 46, 46, 0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 15px 0;
}

.nb {
  display: grid;
  padding: 20px 40px;
  grid-template-columns: 1.5fr 1.5fr;
}

.nav_sm {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  /* position: absolute; */
}

.sansare {
  border: 1px solid #fff;
  /* background-color: #000; */
  padding: 10px 30px;
}

.j {
  /* display: flex; */

  /* align-items: center; */
  /* justify-content: center; */
  /* position: absolute; */
}

.nji {
  display: flex;
  justify-content: flex-end;
}

.nav_ul {
  align-items: center;
  display: flex;
  gap: 20px;
}

.nav_li {
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 18px;
  font-weight: 300;
  font-family: "hel";
  list-style: none;
}

.nav_img {
  width: 100px;
}


